#loginpage {
    display:flex;
    
}

.right-section, .left-section {
    flex: 1;
}

@media (max-width: 450px) {
    .right-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    .right-section .banner img {
        width: 90%;
        align-items: center;
    }
    
  }
  
 